#header{
    background-color: #00cc99;
}

#header a{
    color : #fff;
}

#header a:hover{
    color: #333;
}

#accordion .panel-primary > .panel-heading{
    color: #333;
    background-color: #00cc99;
    display: block;
    text-decoration: none;
}

#accordion .panel-primary > .panel-heading a:hover{
    text-decoration-line: none;
}

#accordion .panel-primary > .panel-heading a:after{
    content: '';
    position: relative;
    font-family: 'Glyphicons Halflings';
    float: right;

}

#buy + div{
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type='number'] {
    width: 50px;
}



i{
    padding: 3px;
}